@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Manrope", serif;
font-family: "Inter", serif;
font-family: "Poppins", serif;
 */

/* shared styles */
*{
    margin: 0px;
    padding: 0px;
}
.primary-font {
    font-family: "Poppins", serif;
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
}

.btn-primary {
    background-color: rgba(224, 44, 109, 1);
    color: white;
    border: none;
    border-radius: 41px;
    font-weight: bold;
    display: flex;
    gap: 8px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
}



/* navigation */

header {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    max-height: 36px;
    display: flex;
    align-items: center;
    gap: 34px;
}
.menu{
    display: none;
}
.navbar>ul {
    display: flex;
    gap: 34px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    font-weight: 600;
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
}

.navbar button {
    background-color: white;
    border: none;
}

/* hero section */
.hero {
    display: flex;
    gap: 133px;
    align-items: center;
    margin-top: 50px;
}

.hero-img {
    background: url('../images/Circle\ design.svg');
    background-size:contain;
    background-repeat: no-repeat;
}

.hero .section-title {
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.hero .section-description {
    font-weight: 600;
    margin-bottom: 16px;
}



/* main  */
main{
    max-width: 1040px;
    margin: 0 auto;
}
main > section{
    margin: 100px 0px;
}
/* companies section */
.companies{
    display: flex;
    justify-content: space-around;
    
}

/* collection section */
.collection h3{
    font-size: 1.75rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
    text-align: center;
    margin-bottom: 50px;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.cart{
    padding: 17px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.cart-title{
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 1.75rem;
    color: rgba(24, 25, 31, 1);
    font-weight: 500;

}
.cart-description{
    font-family: "Inter", serif;
    margin-top: 5px;
    font-weight: bold;
    max-width: 196px;
    font-size: .8rem;
    color: rgba(120, 120, 133, 1);
}
.price{
    /* margin-top: 8px; */
    font-family: "Inter", serif;
    font-size: 1.5rem;
    
}
.see-btn{
    margin-top: 50px;
    display: flex;
    justify-content: end;
}
.see-more{
    background-color: white;
    color: rgba(224, 44, 109, 0.87);
    font-weight: bold;
    border: none;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

}

/* featured product */
.featured-product{
    display: flex;
    gap: 75px;
    justify-content: center;
    align-items: center;
}

.featured-product .section-title{
    font-size:2.5rem ;
    font-weight: bold;
}
.featured-product .section-description{
    font-weight: bold;
    color: rgba(108, 108, 108, 1);
    margin: 16px 0px;
}
.featured-product .btn-primary{
    display: flex;
    gap: 8px;
    border-radius: 0px;
    padding: 10px 24px;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    width: auto;
    background-color: rgb(6, 6, 33);
    text-align: center;
}
.rights{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .section-title{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
footer .section-description{
    color: rgba(217, 219, 225, 1);
    font-size: .8rem;
    font-weight: bold;
}
.social{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
@media screen and (max-width:576px) {
    .nav{
        margin: 25px 20px;
    }
    .nav ul{
        display:none;
    }
    .search-btn{
        display: none;
    }
    .menu{
        display: block;
        background-color: white;
        border: none;
    }
    .hero,
    .featured-product{
        margin: 50px 20px;
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }
    .hero .text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero .section-title{
        font-size: 1.75rem;
    }
    .hero .section-description{
        font-size: .8rem;
    }
    .hero-img{
        height: 257px;
        width: 257px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .hero-img img{
        width: 90%;
    }

    .companies{
        margin: 50px 20px;
        flex-wrap: wrap;
        gap: 30px;
        row-gap: 15px;
    }
    .cart-container{
        
        margin: 0px 20px;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(1,1fr);
    }
    .cart{
        max-width: 330px;
    }
    .see-btn{
        margin-top: 30px;
        position: absolute;
        right:10%;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .featured-product .section-title{
        font-size: 1.5rem;
    }
    .featured-product img{
        width: 90%;
    }
}